# String

In [1]:
str1 = 'This is a note.'
str2 = "This is a note."
str3 = '''This is a note.'''
str4 = """This is a note."""

In [ ]:
str5 = 'It\'s my book.'
str6 = " ... \"The book\" ..."

## String Manipulation

In [3]:
str1 = 'it is a book'
str1.capitalize()

'It is a book'

In [4]:
str1 = 'IT IS A BOOK'
str1.capitalize()

'It is a book'

In [5]:
str1 = 'THis is BooK'
str1.casefold()

'this is book'

In [6]:
str1 = 'THis is BooK'
str1.lower()

'this is book'

In [8]:
str1 = 'THis is BooK'
str1.upper()

'THIS IS BOOK'

In [9]:
str1 = 'THis is BooK'
str1.startswith('T')

True

In [12]:
str1.startswith('THis i')

True

In [13]:
str1.endswith('K')

True

In [14]:
str1.endswith('ooK')

True

In [15]:
str1 = '            THis is BooK          '
str1.strip()

'THis is BooK'

In [16]:
str1.lstrip()

'THis is BooK          '

In [17]:
str1.rstrip()

'            THis is BooK'

In [19]:
str1 = 'THis is BooK. I like it. This book has 500 pages.'
str1.split('.')

['THis is BooK', ' I like it', ' This book has 500 pages', '']

In [21]:
strs = ['THis is BooK', ' I like it', ' This book has 500 pages', '']
'##'.join(strs)

'THis is BooK## I like it## This book has 500 pages##'

In [22]:
str1 = 'THis is BooK. I like it. This book has 500 pages.'
str1.partition('.')

('THis is BooK', '.', ' I like it. This book has 500 pages.')

In [24]:
str1 = "Hello %s" %'jbrrasdf'
str1

'Hello jbrrasdf'

In [ ]:
str1 = 'Hello {name}. Welcome on {day}'
str1.format(name='tech', day="Wednesday")

'Hello tech. Welcome on Wednesday'

In [ ]:
str1 = 'Hello {name}. Welcome on {day}'
str1.format_map({'name':'tech', 'day':'Tuesday'})

'Hello tech. Welcome on Tuesday'

In [35]:
name = 'Tech'
day = 'Wednesday'
str1 = f"Hello {name}. Welcome on {day}"
str1

'Hello Tech. Welcome on Wednesday'

In [36]:
str1 = 'anbjbajbjkbajkjkbgjk'
str1.isalpha()

True

In [37]:
str1 = 'abc123'
str1.isalpha()

False

In [38]:
str1.isalnum()

True

In [ ]:
str1 = '1234'
str1.isnumeric()

In [ ]:
str1.isdigit()

In [ ]:
str1.isdecimal()

In [45]:
str1 = 'tHis is booK'
title_str = str1.title()
title_str

'This Is Book'

In [47]:
title_str.istitle()

True

In [51]:
str1 = 'THis is BooK. I like it. This book has 500 pages.'
str1.replace('BooK', 'copy').replace('book', 'copy')

'THis is copy. I like it. This copy has 500 pages.'

In [52]:
for ele in ['BooK', 'book']:
    str1 = str1.replace(ele, 'copy')

str1

'THis is copy. I like it. This copy has 500 pages.'

In [53]:
for k, v in {'BooK': 'copy', 'book': 'copy', 'This': 'That'}.items():
    str1 = str1.replace(k, v)
str1

'THis is copy. I like it. That copy has 500 pages.'

# Regex

In [48]:
import re