# Tuple

In [2]:
# empty tuple
tup = ()
type(tup), tup

(tuple, ())

In [3]:
tup2 = tuple()
type(tup2), tup2

(tuple, ())

In [4]:
# tuple creation with default values
tup3 = (2, 3, 4, 5)
type(tup3), tup3

(tuple, (2, 3, 4, 5))

In [10]:
# create a tuple with one element
# Use of comma for single element in tuple is mandatory 
a = ('a',)
type(a)

tuple

In [12]:
tup = (11, 12, 13, 11, 14, 13, 15)
tup.count(12)

1

In [14]:
tup.index(11, 1)

3

# Type Casting

In [15]:
a = 4
type(a)

int

In [16]:
a = float(a)
type(a)

float

In [17]:
s = '10'
s = int(s)
type(s)

int

In [19]:
type(tup3), type(list(tup3))

(tuple, list)

# Dictionary

In [20]:
d1 = {}
d2 = dict()

type(d1), type(d2)

(dict, dict)

In [21]:
d1, d2

({}, {})

In [22]:
## adding new key-value pairs 
d1['age'] = 20
d1

{'age': 20}

In [23]:
d1['temp'] = 'temp'
d1

{'age': 20, 'temp': 'temp'}

In [24]:
d1['age'] = 25
d1

{'age': 25, 'temp': 'temp'}

In [25]:
d1.keys()

dict_keys(['age', 'temp'])

In [26]:
d1.values()

dict_values([25, 'temp'])

In [27]:
value = d1.pop('age')
value, d1

(25, {'temp': 'temp'})

In [28]:
d1 = {'a':1, 'b':2, 'c':3}
kv = d1.popitem()
kv, d1

(('c', 3), {'a': 1, 'b': 2})

In [ ]:
d1 = {'a':1, 'b':2, 'c':3}
for k, v in d1.items():
    print(k, v)

In [42]:
d1 = {'a':1, 'b':2, 'c':3}
for k in d1:
    print(k, d1[k])

a 1
b 2
c 3

In [35]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [37]:
k, v = ('a', 1)
print(k, v)

a 1

In [ ]:
l1 = [1, 2]
l2 = [3, 4]
l1.extend(l2)

In [45]:
d1 = {'a':1}
d2 = {'b':2}

d1.update(d2)
print(f"{d1 = }")
print(f"{d2 = }")

d1 = {'a': 1, 'b': 2}
d2 = {'b': 2}

In [48]:
d1.get('a')

1

In [ ]:
print(d1.get('aa'))

None

In [52]:
print(d1.get('aa', None))

None

In [53]:
d1.get('aa', 'Not exists')

'Not exists'

In [54]:
d1.get('aa', False)

False

In [55]:
# fromkeys
# setdefault

# String

In [56]:
str1 = 'This is a note.'
str2 = "This is a note."
str3 = '''This is a note.'''
str4 = """This is a note."""

In [ ]:
"It's'"
'.. "The book"..'

'''
It's my book. "The book"
'''

In [59]:
str1.endswith('note')

False